@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: light;
}

h1, h2, h3, h4, h5, h6 {
  color: #111827;
}

label {
  color: #374151;
}

input, select, textarea {
  color: #111827;
}

p {
  color: #374151;
}
